body {
  background-color: #aae6df;
}

p {
  color: #FFFFFF;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

h1 {
  color: #5C5C5C;
  font-family: "Times New Roman", Times, serif;
  font-size: 38px;
}

h1 {
  color: #5C5C5C;
  font-family: "Times New Roman", Times, serif;
  font-size: 32px;
}

h3 {
  color: #5C5C5C;
  font-family: "Times New Roman", Times, serif;
  font-size: 27px;
}
